
.login-container {
    max-width: 350px;
    padding: 1rem;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
}

.login-container h1 {
    text-align: center;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text; /* For webkit browsers like Chrome */
    -webkit-text-fill-color: transparent; /* For webkit browsers like Chrome */
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.input {
    border-radius: .5rem;
    border-color: lightgray;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    outline: none;
    transition: all .3s ease-in-out;
}

.invalid {
    border-color: red;
    color: red;
}

.invalid-text {
    color: red;
    font-size: .7rem;
    margin-bottom: .5rem
}

.btn {
    width: 100px;
    color: #fff;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    transition: background-color .3s ease;
    margin-left: auto;
}

.btn:hover {
    filter: brightness(110%);
}

.btn:disabled {
    background-image: none;
    background-color: grey;
}
